<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}NOM NOM{{else}}Not eaten{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>
